<h1>Libraries Index</h1>

<ol>

	<% @libraries.each do |library| %>
	<li><a href="/libraries/<%= library.id %>"><%= library.branch_name %></a></li>
	<% end %>
</ol>


<p><a href="/libraries/new">New Library</a></p>
<p><a href="/">Go Home</a></p>