<% if @library %>
  <h1><%= @library.branch_name %></h1>
 	<p><em>Phone Number:</em> <%= @library.phone_number %></p>
  <p><em>Address:</em> <%= @library.address %></p>

<% else %>
  <p>No library of that ID exists</p>
<% end %>

<p><a href="/libraries/<%= @library.id %>/edit">Edit Library</a></p>
<p><a href="/libraries">Back to All Libraries</a></p>