<% if @patron %>
  <h1><%= @patron.name %></h1>
 	<p><em>Email:</em> <%= @patron.email %></p>

<% else %>
  <p>No patron by that name exists</p>
<% end %>

<p><a href="/patrons/<%= @patron.id %>/edit">Edit Patron</a></p>
<p><a href="/patrons">Back to All Patrons</a></p>