<h1>Staff Members Index</h1>

<ol>

	<% @staff_members.each do |staff_member| %>
	<li><a href="/staff_members/<%= staff_member.id %>"><%= staff_member.name %></a></li>
	<% end %>
</ol>


<p><a href="/staff_members/new">New Staff Member</a></p>
<p><a href="/">Go Home</a></p>