<% if @staff_member %>
  <h1><%= @staff_member.name %></h1>
 	<p><em>Email:</em> <%= @staff_member.email %></p>
  <p><em>Library:</em> <%= @staff_member.library ? @staff_member.library : "No Library" %></p>

<% else %>
  <p>No staff member by that name exists</p>
<% end %>

<p><a href="/staff_members/<%= @staff_member.id %>/edit">Edit Staff Member</a></p>
<p><a href="/staff_members">Back to All Staff Members</a></p>